<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<br><br></br></br>

<h1>New Userphoto</h1>

<%= render 'form', userphoto: @userphoto %>

<%= link_to 'Back', userphotos_path %>


<% end %>